{% extends 'images/base.html' %}
{% block content %}

<div class"container">
    <div class="row">
        <div class="col-md-6">
            <h1>{{ image.title }}</h1>
            <form action="{% url 'app:like' image.id %} " method="post">
                {% csrf_token %} 
                {% if request.user.is_authenticated %}
                    {% if liked %}
                    <p><input type="submit" value="Unlike"></p>
                    {% else %}
                    <input type="submit" name="" value="Like">
                    {% endif %}
                {% endif %}
            </form>
            <div>
                <p>Objavljeno: {{ image.pub_date }}</p>
                <img src="{{ image.url }}" class="full-width">
            </div>
        </div>
        <div class="col-md-6">
            <h1>Komentari</h1> 
            {% for comment in comments %}
                <p class="comment">
                    <strong>{{comment.user.username}}</strong>
                    ( {{ comment.pub_date }} ) <br/>
                    {{ comment.text }}
                </p>
            {% endfor %}
            <form action="{% url 'app:post_comment' image.id %} " method="post">
                {% csrf_token %}
                {% if user.is_authenticated %}
                <p>
                    <input id="comment_text" name="text" type="text">
                    <input type="submit">
                </p>
{% else %}
    <p>Welcome, new user. Please log in.</p>
{% endif %}
                
            </form>
        </div>     
    </div>
</div>

{% endblock %}
